<div class="row">
  <div class="col-md-4 offset-4">
    <%= simple_form_for student do |form| %>
      <% if student.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

          <ul>
            <% student.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.input :first_name, label: t("table.first_name") %>
        <%= form.input :last_name, label: t("table.last_name") %>
        <%= form.input :phone, label: t("table.phone") %>
        <%= form.input :parents_phone, label: t("table.parent_phone") %>
        <%= form.input :email, label: t("table.email") %>
        <%= form.input :gender, as: :radio_buttons, collection: [[t("gender.female"), 'female'], [t("gender.male"), 'male']], label: t("table.gender") %>
        <%= form.input :date_of_birth, order: [:day, :month, :year],label: t("title.date_of_birth") %>
        <%= form.input :active, as: :boolean, label: t("title.active") %>
      </div>

      <div class="actions">
        <%= form.button :submit, value: t("action.submit"), class: "btn btn-primary" %>
        <%= link_to t("action.cancel"), students_path, class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>
