<div class="row">
  <div class="col-md-6 mx-auto mb-5">
    <%= simple_form_for student do |form| %>
      <%= form.input :first_name %>
      <%= form.input :last_name %>
      <%= form.input :phone %>
      <%= form.input :parents_phone %>
      <%= form.input :email %>
      <%= form.input :gender %>
      <%= form.input :date_of_birth, as: :date, start_year: Date.today.year - 100,
                     end_year: Date.today.year, order: [:day, :month, :year] %>
      <%= form.input :active, as: :boolean, inline_label: "Active" %>
    
      <%= form.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

