<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <div class="field form-group">
        <%= form.label :first_name %>
        <%= form.text_field :first_name %>
      </div>

      <div class="field form-group">
        <%= form.label :last_name %>
        <%= form.text_field :last_name %>
      </div>

      <div class="field form-group">
        <%= form.label :phone %>
        <%= form.text_field :phone %>
      </div>

      <div class="field form-group">
        <%= form.label :email %>
        <%= form.text_field :email %>
      </div>

      <div class="field form-group">
        <%= form.label :gender %>
        <%= form.text_field :gender %>
      </div>

      <div class="field form-group">
        <%= form.label :date_of_birth %>
        <%= form.date_select :date_of_birth %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>
