<div class="row">
  <div class="col-md-4 offset-4">
    <%= simple_form_for student do |form| %>
      <%= form.input :first_name %>
      <%= form.input :last_name %>
      <%= form.input :phone %>
      <%= form.input :parents_phone %>
      <%= form.input :email %>
      <%= form.input :gender %>
      <%= form.input :date_of_birth, as: :date %>
      <%= form.input :active, as: :boolean, inline_label: "Active" %>
    
      <%= form.submit %>
    <% end %>
  </div>
</div>

