<p id="notice"><%= notice %></p>

<p class="row">
  <strong class="col-sm-2">First name:</strong>
  <%= @student.first_name %>
</p>

<p class="row">
  <strong class="col-sm-2">Last name:</strong>
  <%= @student.last_name %>
</p>

<p class="row">
  <strong class="col-sm-2">Phone:</strong>
  <%= @student.phone %>
</p>

<p class="row">
  <strong class="col-sm-2">Email:</strong>
  <%= @student.email %>
</p>

<p class="row">
  <strong class="col-sm-2">Gender:</strong>
  <%= @student.gender %>
</p>

<p class="row">
  <strong class="col-sm-2">Date of birth:</strong>
  <%= @student.date_of_birth %>
</p>

<%= link_to 'Edit', edit_student_path(@student), class: "btn btn-outline-primary" %> |
<%= link_to 'Back', students_path, class: "btn btn-outline-dark" %>
