<p id="notice"><%= notice %></p>

<div class="row">
  <p>
    <div class="col-3">
      <strong>First name:</strong>
    </div>
    <div class="col-9">
      <%= @student.first_name %>
    </div>
  </p>

  <p>
    <div class="col-3">
      <strong>Last name:</strong>
    </div>
    <div class="col-9">
      <%= @student.last_name %>
    </div>
  </p>

  <p>
    <div class="col-3">
      <strong>Phone:</strong>
    </div>
    <div class="col-9">
      <%= @student.phone %>
    </div>
  </p>

  <p>
    <div class="col-3">
      <strong>Email:</strong>
    </div>
    <div class="col-9">
      <%= @student.email %>
    </div>
  </p>

  <p>
    <div class="col-3">
      <strong>Gender:</strong>
    </div>
    <div class="col-9">
      <%= @student.gender %>
    </div>
  </p>

  <p>
    <div class="col-3">
      <strong>Date of birth:</strong>
    </div>
    <div class="col-9">
      <%= @student.date_of_birth %>
    </div>
  </p>
</div>

<%= link_to 'Edit', edit_student_path(@student), class: "btn btn-outline-primary" %>
<%= link_to 'Back', students_path, class: "btn btn-outline-primary" %>
