<div class="row">
  <div class="col-md-4 offset-4">
    <div class="card" style="width: 100%;">
      <div class="card-header">
        <center><b><%= "#{@student.first_name} #{@student.last_name}" %></b></center>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= t("column.phone") %>: <span style="float: right"><%= @student.phone %></span>
        </li>
        <li class="list-group-item">
          <%= t("column.parent_phone") %>: <span style="float: right"><%= @student.phone %></span>
        </li>
        <li class="list-group-item">
           <%= t("column.email") %>: <span style="float: right"><%= @student.email %></span>
        </li>
        <li class="list-group-item">
           <%= t("column.gender") %>: <span style="float: right"><%= t("gender.#{@student.gender}") %></span>
        </li>
        <li class="list-group-item">
         <%= t("column.date_of_birth") %>: <span style="float: right"><%= @student.date_of_birth %></span>
        </li>
        <li class="list-group-item">
          <%= t("column.active") %>: <span style="float: right"><%=t("status.#{@student.active}") %></span>
        </li>
      </ul>
      <div class="card-body">
<%= link_to t("action.edit"), edit_student_path(@student), class: 'btn btn-primary' %>
        <%= link_to t("action.back"), students_path, class: 'btn btn-secondary' %>
        <%= link_to t("entity.course"), student_courses_path(@student), class: 'btn btn-success' %>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4 offset-4">
    <div class="card" style="width: 100%;">
      <div class="card-header">
        <center><b><%= t("student.courses_registered") %></b></center>
      </div>
      <ul class="list-group list-group-flush">
        <% @student.courses.each do |course| %>
          <li class="list-group-item">
            <%= "#{course.name}, by #{course.teacher.full_name}" %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>