<div class="row form-group">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
      <p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @student.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @student.date_of_birth %>
</p>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Back', students_path, class:"btn btn-primary form-group" %> |
<%= link_to 'Edit', edit_student_path(@student),class:"btn btn-info form-group" %>

