<div class="row">
  <div class="col-md-6 mx-auto mb-5">
    <%= simple_form_for teacher do |form| %>
      <%= form.input :first_name %>
      <%= form.input :last_name %>
      <%= form.input :phone, as: :tel %>
      <%= form.input :email, as: :email %>
      <%= form.input :gender, collection: ["female", "male"] %>
      <%= form.input :date_of_birth, as: :date, start_year: Date.today.year - 100,
                    end_year: Date.today.year, order: [:day, :month, :year] %>
      <%= form.button :submit, label: teacher.id.present? ? "Update" : "Create", class: "btn btn-primary" %>
      <%= link_to "Back", teachers_path, class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>
