<div class="row">
  <div class="col-md-4 offset-4">
    <%= simple_form_for teacher do |form| %>
      <%= form.input :first_name %>
      <%= form.input :last_name %>
      <%= form.input :phone %>
      <%= form.input :email %>
      <%= form.input :gender, as: :select, collection: [['Female', 'female'], ['Male', 'male']] %>
      <%= form.input :date_of_birth %>
      <%= form.button :submit, class: 'btn btn-primary' %>
      <%= link_to 'Back', courses_path, class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div>