<div class="row">
  <div class="col-md-4 offset-4">
    <%= simple_form_for teacher do |form| %>
      <% if teacher.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>
          <ul>
            <% teacher.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
       <%= form.input :first_name, label: t("title.first_name") %>
        <%= form.input :last_name, label: t("title.last_name") %>
        <%= form.input :phone, label: t("title.phone") %>
        <%= form.input :email, label: t("title.email") %>
        <%= form.input :gender, as: :radio_buttons, collection: [t("title.female"), t("title.male")], label: t("title.gender") %>
        <%= form.input :date_of_birth, order: [:day, :month, :year], label: t("title.date_of_birth") %> 
      </div>

      <div class="actions">
       <%= form.button :submit, class: "btn btn-primary", value: t("title.update") %>
        <%= link_to t("title.back"), teachers_path, class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>
