<div class="row">
  <div class="col-md-8">
    <h1>Teachers</h1>
  </div>
  <div class="col-md-4">
    <div style="float: right">
      <%= link_to 'Create New Teacher', new_teacher_path, class: "btn btn-outline-primary" %>
    </div>
  </div>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Gender</th>
      <th scope="col">Date of birth</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <th scope="row"><%= teacher.id %></th>
        <td><%= teacher.first_name %></td>
        <td><%= teacher.last_name %></td>
        <td><%= teacher.phone %></td>
        <td><%= teacher.email %></td>
        <td><%= teacher.gender %></td>
        <td><%= teacher.date_of_birth %></td>
        <td align="right">
          <%= link_to 'Show', teacher, class: 'btn btn-sm btn-success' %>
          <%= link_to 'Edit', edit_teacher_path(teacher), class: 'btn btn-sm btn-primary' %>
          <%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>