<%= render "index_title", entity: t("entity.teacher"), path: new_teacher_path %>
<div class="table-responsive">
  <table class="table table-hover">
    <%= render "table_header",
      headers: ["#", t("column.first_name"), t("column.last_name"), t("column.phone"), t("column.email"), t("column.gender"), t("column.date_of_birth")],
      colspan: 3 %>

    <tbody>
      <% @teachers.each do |teacher| %>
        <tr>
          <th scope="row"><%= teacher.id %></th>
          <td><%= teacher.first_name %></td>
          <td><%= teacher.last_name %></td>
          <td><%= teacher.phone %></td>
          <td><%= teacher.email %></td>
          <td><%= t("gender.#{teacher.gender}") %></td>
          <td><%= teacher.date_of_birth %></td>
          <td>
            <%= link_to_icon teacher, icon: "info", type: "info" %>
            <%= link_to_icon edit_teacher_path(teacher), icon: "edit", type: "info" %>
            <%= link_to_destroy teacher, entity: :teacher %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render "pagination", records: @teachers %>