<%= render "alert_message" %>

<div class="row">
  <div class="col-md-4 offset-4">
    <div class="card" style="width: 100%;">
      <div class="card-header text-center">
        <b><%= @teacher.full_name %></b>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Phone: <span style="float: right"><%= @teacher.phone %></span>
        </li>
        <li class="list-group-item">
          Email: <span style="float: right"><%= @teacher.email %></span>
        </li>
        <li class="list-group-item">
          Gender: <span style="float: right"><%= @teacher.gender %></span>
        </li>
        <li class="list-group-item">
          Date of birth: <span style="float: right"><%= @teacher.date_of_birth %></span>
        </li>
      </ul>
      <div class="card-body">
        <%= link_to 'Edit', edit_teacher_path(@teacher), class: 'btn btn-primary' %>
        <%= link_to 'Back', teachers_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>