<div class="row">
  <div class="col-md-4 offset-4">
    <div class="card" style="width: 100%;">
      <div class="card-header">
        <center><b><%= @teacher.full_name %></b></center>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= t("column.phone") %>: <span style="float: right"><%= @teacher.phone %></span>
        </li>
        <li class="list-group-item">
          <%= t("column.email") %>: <span style="float: right"><%= @teacher.email %></span>
        </li>
        <li class="list-group-item">
          <%= t("column.gender") %>: <span style="float: right"><%= t("gender.#{@teacher.gender}") %></span>
        </li>
        <li class="list-group-item">
          <%= t("column.date_of_birth") %>: <span style="float: right"><%= @teacher.date_of_birth %></span>
        </li>
      </ul>
      <div class="card-body">
        <%= link_to t("action.edit"), edit_teacher_path(@teacher), class: 'btn btn-primary' %>
        <%= link_to t("action.back"), teachers_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>