<div class="row">
  <div class="col-md-4 offset-4">
    <%= simple_form_for course do |form| %>
      <% if course.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(course.errors.count, 'error') %> prohibited this course from being saved:</h2>
          <ul>
            <% course.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.input :name, label: t("table.name")%>
        <%= form.input :start_date, label: t("table.start_date") %>
        <%= form.input :end_date, label: t("table.end_date") %>
        <%= form.input :max_students, label: t("table.max_student") %>
        <%= form.association :teacher, label_method: :full_name, label: t("entity.teacher") %>
      </div>

      <div class="actions">
        <%= form.button :submit, class: "btn btn-primary", value: t("action.submit") %>
        <%= link_to t("action.back"), courses_path, class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>