<% if @student %>
  <h1><%= t('title.detail', entity: t('entity.student')) %></h1>
  <h4><%= @student.full_name %></h4>
<% end %>

<%= render "index_title", entity: t("entity.course"), path: new_course_path %>
<div class="table-responsive">
  <table class="table table-hover">
    <%= render "table_header",
      headers: ["#", t("table.name"), t("table.start_date"), t("table.end_date"), t("entity.teacher")], colspan: 3 %>


   <tbody>
      <% @courses.each do |course| %>
        <tr>
          <th><%= course.id %></th>
          <td><%= course.name %></td>
          <td><%= course.start_date %></td>
          <td><%= course.end_date %></td>
          <td><%= course.teacher.full_name %></td>
          <% if @student %>
            <td><%= @student.has_course?(course) ? 'YES' : 'NO' %></td>
          <% end %>
          <td>
            <%= link_to_icon edit_course_path(course), icon: "edit",type: "info"%>
            <%= link_to_icon course, icon: "info",type: "info" %>
            <%= link_to_destroy course, entity: :course %>
          </td>
        </tr> 
    <% end %>
  </tbody>
</table>

<%= render "pagination", records: @courses %>