<% if @student %>
  <h1>Student Detail</h1>
  <h4><%= @student.full_name %></h4>
<% end %>

<%= render "index_title", entity: "Course", path: new_course_path %>

<table class="table table-dark">
<%= render "table_header",
   headers: ["#", t('header.start_date'), t('header.end_date'), t('header.teacher'),t('header.register'), "Active"],
      colspan: 3 %>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <th><%= course.id %></th>
        <td><%= course.name %></td>
        <td><%= course.start_date %></td>
        <td><%= course.end_date %></td>
        <td><%= course.teacher.full_name %></td>
        <% if @student %>
          <td><%= @student.has_course?(course) ? 'YES' : 'NO' %></td>
        <% end %>
        <td>
          <%= link_to t('btn.show'), course, class: "btn btn-primary" %>
          <%= link_to t('btn.edit'), edit_course_path(course), class: "btn btn-success" %>
          <%= link_to t('btn.destroy'), course, method: :delete, data: { confirm: 'Are your sure?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render "pagination", records: @courses %>