<% if @student %>
  <h1><%= @student.full_name %></h1>

  <div class="row">
    <div class="col-md-6" style="padding-top: 10px;">
      <b>Enrolled Courses</b>
    </div>
    <div class="col-md-6" style="text-align: right;">
      <%= link_to "New enrolment", new_student_enrolment_path(@student), class: "btn btn-outline-primary" %>
    </div>
  </div>
<% else %>
  <h1>Courses</h1>
  <div class="row">
    <div class="col-md-12" style="text-align: right;">
      <%= link_to "New Course", new_course_path, class: "btn btn-outline-primary" %>
    </div>
  </div>
<% end %>

<table class="table table-dark" style="margin-top: 10px;">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Teacher</th>
      <% if @student %>
        <th>Register</th>
      <% end %>
      <th colspan="3"></ht>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <th><%= course.id %></th>
        <td><%= course.name %></td>
        <td><%= course.start_date %></td>
        <td><%= course.end_date %></td>
        <td><%= course.teacher.full_name %></td>
        <% if @student %>
          <td><%= @student.has_course?(course) ? 'YES' : 'NO' %></td>
        <% end %>
        <td>
          <%= link_to 'Show', course, class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_course_path(course), class: "btn btn-success" %>
          <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are your sure?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>